/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-mint: #caf7e3;
  --color-alpha-mint: #caf7e3f0;
  --color-light-mint: #edffec;
  --color-purple: #e4bad4;
  --color-light-purple: #f6dfeb;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-black: #000000;
  --color-yellow: #fde56c;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 500;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-dark-grey);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

hr {
  border: 1px solid var(--color-light-purple);
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

/* Navbar */
#navbar {
  position: sticky;
  top: -1px;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-alpha-mint);
  color: var(--color-dark-grey);

  padding: 16px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
}

.navbar__menu__item.active {
  border: 2px dashed var(--color-dark-grey);
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  text-decoration: underline;
}

/* Home */
#home {
  background: url("imgs/home-background.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;

  display: flex;
  justify-content: center;
  flex-flow: wrap;
  align-items: center;
}

.welcome,
.home__avatar {
  margin: 50px 40px;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-mint);
}

.welcome__description,
.welcome__title {
  color: var(--color-dark-grey);
}

.welcome__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-dark-grey);
  border-radius: var(--size-border-radius);
  color: var(--color-dark-grey);
}

/* Section Common */
.section {
  padding: 50px;
  text-align: center;
  margin: 0 auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  background-color: var(--color-light-mint);
  border-radius: 50%;
  color: var(--color-light-purple);
  border: 1px solid var(--color-light-purple);

  margin: 0 auto;
  margin-bottom: 16px;
}

.major_title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
  transform: scale(1.1);
  color: var(--color-purple);
}

.about__experience {
  margin-top: 150px;
}

.experience {
  display: flex;
  align-items: center;
}

.experience img {
  width: 80px;
  height: 40px;

  padding-left: 20px;
  padding-right: 20px;
}

.experience__description {
  margin: 0 16px;
  text-align: left;
}

.experience__name,
.experience__period {
  color: var(--color-light-grey);
}

.experience__name {
  font-size: var(--font-small);
}

.experience__period {
  font-size: var(--font-micro);
}

/* skill */
#skills {
  background-color: var(--color-light-mint);
}

.skill {
  display: flex;
  align-items: center;
  flex-flow: wrap;

  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
  box-shadow: 2px 2px 2px var(--color-light-white);

  margin: 30px 0;
  padding: 16px;
}

.skill:hover {
  box-shadow: 2px 2px 2px var(--color-light-purple);
}
.skill:hover > .icons > i {
  color: var(--color-purple);
}

.icons {
  margin: auto;
  width: 200px;
  text-align: center;
}

.icons > i {
  font-size: 50px;
  color: var(--color-dark-white);
}

.fa-star {
  margin-top: 3px;
  color: var(--color-yellow);
}

.description-list {
  width: 800px;
  margin: auto;
}

.description-list__title {
  color: var(--color-dark-grey);
}

.description-list__description {
  color: var(--color-grey);
  font-size: var(--font-small);
}

.skillset__title {
  color: var(--color-light-grey);
  font-size: var(--font-small);
  text-align: left;
}

.skillset {
  margin-top: 100px;
}

.skillset__bottom {
  background-color: var(--color-light-white);

  display: flex;
}

.tools {
  background-color: var(--color-white);
  flex-basis: 50%;
  margin-right: 2px;
  padding: 20px;
}

.etc {
  background-color: var(--color-white);
  flex-basis: 50%;
  padding: 20px;
}

.tools__title,
.etc__title {
  margin: 20px;
  font-weight: 700;
}

.tools__list,
.etc__list {
  font-size: var(--font-small);
}
