/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-mint: #caf7e3;
  --color-light-mint: #edffec;
  --color-purple: #e4bad4;
  --color-light-purple: #f6dfeb;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-black: #000000;
}
